extends layout 
 
block content 
  h1= title 
 
  form(id='movieForm', action="/resource/movies", method="POST") 
    div.form-group 
        label.movieAttr(for='movie_name') movie name 
        input#movie_name(type='text', name='movie_name') 
    div.form-group 
        label.movieAttr(for='length') movie length 
        input#size(type='length', name='length') 
    div.form-group 
        label.movieAttr(for='director') movie director 
        input#cost(type='number', name='director') 
    input(type="submit") 
 
  script. 
    document.forms['movieForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 